body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .dark-mode {
      background-color: #333;
      color: #fff;
    }

    .light-mode {
      background-color: #fff;
      color: #000;
    }
